@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@mixin mobile {
    @media all and (max-width: 768px) {
        @content;
    }
}
@mixin mobile-sm {
    @media all and (max-width: 568px) {
        @content;
    }
}

:root {
    --border-color : rgb(219, 219, 219);
}

// common
.inner {
    max-width: 975px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}
.d-flex {
    display: flex;
}
.flex-ac {
    align-items: center;
}
.flex-jc {
    justify-content: center;
}
.flex-js {
    justify-content: space-between;
}

.nav {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);

    .logo {
        width: 103px;
        height: 29px;

        img {
            width: 100%;
        }
    }
}
.content_wrap {
    padding-bottom: 100px;

    &.inner {
        @include mobile {
            padding: 0;
        }
    }
    .header {
        padding: 30px 0;

        @include mobile-sm {
            padding: 20px;
        }
        
        .left_cont  {
            max-width: 290px;
            width: 100%;
            margin-right: 20px;

            @include mobile-sm {
                max-width: 80px;
                margin-right: 15px;
            }
            
            .profile_img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 1px solid var(--border-color);
                overflow: hidden;
                margin: 0 auto;

                @include mobile-sm {
                    width: 80px;
                    height: 80px;
                    margin-left: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .right_cont {
            width: 100%;
            p {
                margin-bottom: 20px;
                font-size: 14px;

                @include mobile-sm {
                    font-size: 12px;
                }
            }
            .id {
                font-size: 20px;
                position: relative;

                @include mobile-sm {
                    font-size: 16px;
                }

                .badge {
                    background: rgb(0, 149, 246);
                    width: 12px;
                    height: 12px;
                    position: relative;
                    text-align: center;
                    display: inline-block;
                    margin-left: 5px;

                    &::before,
                    &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 12px;
                        width: 12px;
                        background: rgb(0, 149, 246);
                    }
                    &::before {
                        content: '✓';
                        transform: rotate(30deg);
                        z-index: 1;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: center;
                        color: #fff;
                    }
                    &::after {
                        content: "";
                        transform: rotate(60deg);
                    }
                }
            }
            .text_wrap {
                gap: 40px;

                @include mobile-sm {
                    gap: 15px;
                }
            }
        }

    }
    .section {
        border-top: 1px solid var(--border-color);

        .tit_wrap {
            height: 52px;
            line-height: 52px;
            text-align: center;
        }

        .feed {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 28px;

            @include mobile {
                gap: 5px;
            }

            &_tit {
                position: relative;
                font-size: 16px;
                display: inline-block;
                font-weight: normal;
                
                &::before {
                    content: '';
                    background: url(../images/grid.png) no-repeat center / cover;
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    left: -15px;
                    top: 22px;
                }
            }

            &_item {
                max-width: 293px;
                max-height: 293px;
                width: 100%;
                height: 100%;
                background-color: #ccc;                

                &_link {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform .4s;
                    }
                }

                .hover_item {
                    opacity: 0;
                    visibility: hidden;
                    transition: all .4s;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background: rgba(0,0,0,0.8);
                    color: #fff;
                    z-index: 1;
                    width: 100%;
                    height: 100%;

                    &_text {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 100%;
                        text-align: center;
                        line-height: 1.8;
                        transform: translate(-50%, -50%);

                        @include mobile {
                            font-size: 14px;
                            line-height: normal;
                        }
                        @include mobile-sm {
                            font-size: 12px;
                        }

                        .btn_view {
                            display: inline-block;
                            width: 50%;
                            height: 35px;
                            line-height: 33px;
                            border-radius: 20px;
                            border: 1px solid #fff;
                            font-size: 14px;
                            margin-top: 20px;
                            background: #fff;
                            color: #333;
                            font-weight: bold;

                            @include mobile-sm {
                                margin-top: 8px;
                                font-size: 12px;
                                width: 80%;
                                height: 25px;
                                line-height: 20px;
                            }
                        }
                    }
                }

                &:hover {               
                    img {
                        transform: scale3d(1.05,1.05,1.05);
                    }     
                    .hover_item {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}