@import url(./reset.css);
@font-face {
  font-family: 'S-CoreDream-9Black';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TheJamsil5Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

.inner {
  max-width: 1400px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.content_wrap.dark {
  background-color: #000;
}

.content_wrap.dark .main .btn_mode .line {
  background-color: #fff;
}

.content_wrap.dark .main .btn_mode .line::before {
  background-color: #fff;
}

.content_wrap.dark .main .text_wrap {
  color: #fff;
}

.content_wrap.dark .main .text_wrap .keyword .tag {
  color: #ccc;
}

.content_wrap.dark .portfolio {
  color: #fff;
}

.content_wrap.dark .portfolio .port_box_text {
  background-color: #fff;
}

.content_wrap .main {
  padding: 250px 0 100px;
  height: 100vh;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.content_wrap .main .circle {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 0;
}

@media all and (max-width: 991px) {
  .content_wrap .main .circle {
    display: none;
  }
}

.content_wrap .main .circle1 {
  width: 300px;
  height: 300px;
  -webkit-animation: circle1 15s linear infinite alternate;
          animation: circle1 15s linear infinite alternate;
}

.content_wrap .main .circle2 {
  width: 450px;
  height: 450px;
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  -webkit-animation: circle2 15s linear infinite alternate;
          animation: circle2 15s linear infinite alternate;
  background-color: rgba(255, 255, 255, 0.6);
}

.content_wrap .main .circle3 {
  width: 180px;
  height: 180px;
  left: 500px;
  top: 500px;
  -webkit-animation: circle3 16s linear infinite alternate;
          animation: circle3 16s linear infinite alternate;
}

.content_wrap .main .btn_mode {
  position: fixed;
  right: 100px;
  top: -10px;
  z-index: 1;
}

@media all and (max-width: 768px) {
  .content_wrap .main .btn_mode {
    right: 50px;
  }
}

.content_wrap .main .btn_mode .line {
  display: inline-block;
  width: 2px;
  height: 180px;
  background-color: #000;
  position: relative;
  top: -12px;
}

@media all and (max-width: 768px) {
  .content_wrap .main .btn_mode .line {
    height: 90px;
    top: 0;
  }
}

.content_wrap .main .btn_mode .line:hover {
  -webkit-animation: bounce 1.5s linear infinite alternate;
          animation: bounce 1.5s linear infinite alternate;
}

.content_wrap .main .btn_mode .line::before {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -16px;
}

@media all and (max-width: 768px) {
  .content_wrap .main .btn_mode .line::before {
    width: 12px;
    height: 12px;
    bottom: -10px;
  }
}

.content_wrap .main .btn_mode .light {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 180px;
  height: 100px;
  -webkit-clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
          clip-path: polygon(5% 100%, 25% 0px, 75% 0px, 95% 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-50%, rgba(255, 255, 255, 0.3)), color-stop(90%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) -50%, rgba(255, 255, 255, 0) 90%);
  pointer-events: none;
}

@media all and (max-width: 768px) {
  .content_wrap .main .btn_mode .light {
    width: 100px;
  }
}

.content_wrap .main .text_wrap .title {
  font-size: 100px;
  font-family: 'S-CoreDream-9Black';
  -webkit-animation: opacity .7s;
          animation: opacity .7s;
  overflow: hidden;
}

@media all and (max-width: 991px) {
  .content_wrap .main .text_wrap .title {
    font-size: 60px;
  }
}

@media all and (max-width: 768px) {
  .content_wrap .main .text_wrap .title {
    font-size: 36px;
  }
}

.content_wrap .main .text_wrap .keyword {
  -webkit-animation: opacity .7s .3s forwards;
          animation: opacity .7s .3s forwards;
  opacity: 0;
}

.content_wrap .main .text_wrap .keyword .tag {
  display: inline-block;
  margin-right: 8px;
  color: #222;
  font-family: 'TheJamsil5Bold';
  font-weight: 100;
}

@media all and (max-width: 768px) {
  .content_wrap .main .text_wrap .keyword .tag {
    font-size: 12px;
  }
}

.content_wrap .portfolio {
  padding: 120px 0;
}

.content_wrap .portfolio.ani .port_title {
  -webkit-animation: opacity .7s forwards;
          animation: opacity .7s forwards;
}

.content_wrap .portfolio.ani .port_desc {
  -webkit-animation: opacity .7s .3s forwards;
          animation: opacity .7s .3s forwards;
}

.content_wrap .portfolio.ani .port_cont {
  -webkit-animation: opacity .7s .7s forwards;
          animation: opacity .7s .7s forwards;
}

.content_wrap .portfolio .port_title {
  font-size: 30px;
  font-family: 'S-CoreDream-9Black';
  opacity: 0;
}

@media all and (max-width: 768px) {
  .content_wrap .portfolio .port_title {
    font-size: 24px;
  }
}

.content_wrap .portfolio .port_desc {
  margin-top: 15px;
  font-size: 18px;
  font-family: 'TheJamsil5Bold';
  opacity: 0;
}

@media all and (max-width: 768px) {
  .content_wrap .portfolio .port_desc {
    font-size: 14px;
    margin-top: 5px;
  }
}

.content_wrap .portfolio .port_cont {
  margin-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  opacity: 0;
}

@media all and (max-width: 991px) {
  .content_wrap .portfolio .port_cont {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 768px) {
  .content_wrap .portfolio .port_cont {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.content_wrap .portfolio .port_box {
  width: 100%;
  height: 350px;
  overflow: hidden;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.content_wrap .portfolio .port_box:hover {
  margin-top: -10px;
  -webkit-box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.08);
}

.content_wrap .portfolio .port_box:hover .port_box_img {
  opacity: 0.4;
}

.content_wrap .portfolio .port_box_img {
  width: 100%;
  height: 200px;
}

.content_wrap .portfolio .port_box_text {
  padding: 15px 20px;
  height: calc(350px - 200px);
  border: 1px solid #d6d6d6;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.content_wrap .portfolio .port_box_text .pj_tit {
  margin-bottom: 10px;
  font-family: 'S-CoreDream-9Black';
}

.content_wrap .portfolio .port_box_text .pj_desc {
  font-family: 'TheJamsil5Bold';
  line-height: 1.6;
}

.content_wrap .portfolio .port_box.ndr .port_box_img {
  background: url(../images/ndr.PNG) no-repeat left top/cover;
}

.content_wrap .portfolio .port_box.mstory .port_box_img {
  background: url(../images/mstory.PNG) no-repeat left top/cover;
}

.content_wrap .portfolio .port_box.mpartner .port_box_img {
  background: url(../images/mpartner.PNG) no-repeat left top/cover;
}

.content_wrap .portfolio .port_box.hutom .port_box_img {
  background: url(../images/hutom.PNG) no-repeat left top/cover;
}

.content_wrap .portfolio .port_box.nethru .port_box_img {
  background: url(../images/nethru.PNG) no-repeat left top/cover;
}

.content_wrap .portfolio .port_box.pocket .port_box_img {
  background: url(../images/pocket.PNG) no-repeat left top/cover;
}

.content_wrap .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 320px;
  width: 100%;
  height: 150px;
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  z-index: 1;
}

.content_wrap .modal_wrap {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
}

.content_wrap .modal p {
  font-family: 'TheJamsil5Bold';
  text-align: center;
  margin-top: 40px;
}

.content_wrap .modal button {
  font-family: 'TheJamsil5Bold';
  background-color: #000;
  width: calc(100% - 20px);
  height: 30px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  line-height: 30px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.content_wrap .dim {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes opacity {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 12px;
  }
}

@keyframes bounce {
  from {
    margin-top: 0px;
  }
  to {
    margin-top: 12px;
  }
}

@-webkit-keyframes circle1 {
  from {
    left: 20px;
    top: 0;
  }
  to {
    left: 100px;
    top: 100px;
  }
}

@keyframes circle1 {
  from {
    left: 20px;
    top: 0;
  }
  to {
    left: 100px;
    top: 100px;
  }
}

@-webkit-keyframes circle2 {
  from {
    right: 20px;
    bottom: 50px;
  }
  to {
    right: -120px;
    bottom: -100px;
  }
}

@keyframes circle2 {
  from {
    right: 20px;
    bottom: 50px;
  }
  to {
    right: -120px;
    bottom: -100px;
  }
}

@-webkit-keyframes circle3 {
  from {
    left: 500px;
    top: 500px;
  }
  to {
    left: 50px;
    top: 350px;
  }
}

@keyframes circle3 {
  from {
    left: 500px;
    top: 500px;
  }
  to {
    left: 50px;
    top: 350px;
  }
}
